*.exe
.vscode
tempCodeRunnerFile.cpp
/Triannual2/NetbeansProjects/CppApplication_1/build/
/Triannual2/NetbeansProjects/CppApplication_1/dist/
/Triannual2/NetbeansProjects/paquetes_nb/build/
/Triannual2/NetbeansProjects/paquetes_nb/dist/
/Triannual2/NetbeansProjects/libreria/Geometria2d/dist/
/Triannual2/NetbeansProjects/libreria/Geometria2d/build/
/Triannual2/NetbeansProjects/libreria/geometria2d/build/
/Triannual2/NetbeansProjects/libreria/geometria2d/dist/